.contact__container {
  max-width: 701px;
}
.contact__picture {
  margin: 30px 0;
}
.contact__picture img {
  max-width: 100%;
}
@media (max-width: 479.98px) {
  .contact__picture {
    margin: 23px 0;
  }
}

.contact-block__title {
  max-width: 490px;
  margin-bottom: 7px;
}
.contact-block__title_small {
  font-weight: 500;
  font-size: 30px;
}
@media (max-width: 479.98px) {
  .contact-block__title_small {
    font-size: 26px;
  }
}
.contact-block__subtitle {
  font-weight: 500;
  font-size: 24px;
  padding: 12px 0;
}
@media (max-width: 479.98px) {
  .contact-block__subtitle {
    font-size: 20px;
  }
}
.contact-block__notes {
  padding: 23px 0;
}